- @title = "About - Incubate!(bang) - Startup Accelerator"

.fixed_content
  %h2.title About 
  
  %ul
    %li 
      What we will provide
      %ul
        %li 
          $50k in hourly time from Isotope11
          %ul
            %li Software Development and Mentoring
            %li Business Development and Mentoring
        %li A flat salary to the business of $15k, to be distributed among founders as they deem fit, at $2.5k twice a month.
        %li Marketing, hosting, etc. to be paid by the investors (capped at $15k, paid out as required.)
        %li Office space, computers if necessary, telephones, internet access, desks, chairs, toilets.
        %li Incorporation
    %li 
      What we won’t provide
      %ul
        %li A guarantee of success
        %li A guarantee of additional investment
        %li Motivation
        %li Moving expenses
    %li
      What we expect
      %ul
        %li A portion of the company, to be distributed among this venture and the investors backing this competition
        %li Blood, sweat, and tears
        %li The founders will be handling the business details - accounting, customer acquisition, sales, purchasing, etc
        %li If there is an existing organization, it will be dissolved and its assets will be acquired by a newly formed entity
        %li All the founders will sign a non-compete against the newly formed entity
        %li The founders / organization to contribute positively back to the Alabama startup and technical community (talk to the press, etc)
        %li The resulting company to be based out of Alabama for at least a minimum period

      