- @title = "Apply - Incubate!(bang) - Startup Accelerator"
- @contentclass = "apply-page"

.fixed_content
  %h2.title Apply 
  %h3
    1. Please download & sign our
    = link_to 'NDA', '/docs/nda.pdf'
    
  %h3
    2. Fill out the form below:
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dE1QbjlrclJNWDVBY2RBbW5ocmNaMlE6MQ" width="100%" height="3943" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

