- @title = "FAQ - Incubate!(bang) - Startup Accelerator"

.fixed_content
  %h2.title FAQ
  
  %h4 Schedule
  %p - Schedule coming soon, we promise :)
  %h4 What if I have more than one idea?
  %p - Submit them all