- @title = "Freshfully - Incubate!(bang) - Startup Accelerator"

.fixed_content
  %h2.title Freshfully
  
  
  %p Freshfully, a Birmingham startup and winner of the 2011 incubate!(bang) business competition, has now launched its online marketplace at freshfully.com. Freshfully was founded by CEO Jen Barnett and Chief Technology Officer Sam Brasseale, both of Birmingham.

  %p Freshfully sells food that’s grown or produced in Alabama. Consumers can search and browse for local products, see listings of farms and markets, and read articles and reviews of local food options.

  %p Items for sale on Freshfully include a weekly sampling of seasonal, local fruits and vegetables from Moore Farms and Friends in Woodland, organic honey from Hewett’s Honey Farm in Duncanville, and Angus beef raised without hormones, antibiotics, or steroids, from Johnson Farm in Elba.

  %p Freshfully is seeking more farms and producers to sell products on the site. “We’re like an eBay for farmers and other local vendors,” says Barnett. “We want to make it easy and efficient for consumers and farmers to connect.”

  %p 
    Farmers can contact Barnett to sell their local products at 
    = link_to 'jen@freshfully.com', 'mailto:jen@freshfully.com'
    or 205-983-6456.
  %p Freshfully returns 86% of retail sales to farmers and producers. Traditionally, farmers receive only 16 cents of each dollar spent on food. Brasseale says, “We want to put more money back into farmers’ hands, so they can continue to provide fresh, local food. Consumers want it, farmers have it, and we want to put them together.”

  %p 
    Freshfully is located online at 
    = link_to 'freshfully.com', 'http://www.freshfully.com'
    on Facebook at 
    = link_to 'facebook.com/freshfully', 'http://www.facebook.com/freshfully'
    , and on Twitter at 
    = link_to 'twitter.com/freshfully', 'http://www.twitter.com/freshfully'