// 320 styles ----------------------------------------------------------------

#content {
  width: 100%;
  .fixed_content {
    width: 95%;
  }
}

.logo {
  display:block;
  width: 306px;
  margin: 0 auto;
  height: 70px;
}
.cityscape {
  width: 100%;
  overflow: hidden;
}