// 480 styles ----------------------------------------------------------------

#content-bg {
  width: 480px;
}
.cityscape {
  width: 480px;
}

nav {
  ul {
    li {
      padding: 4px 10px;
      margin: 5px 0;
      a {
        padding: 3px 10px;
      }
    }
  }
}

h2.main-text {
  margin: 0 0 20px 0;
  .development {
    font-size:1.53em;
  }
  .salary {
    font-size: 1.9em;
    margin-left: -4px;
  }
  .ampersand {
    font-size: 3.5em;
    vertical-align: top;
  }
  .expenses {
  }
  .expenses.first {
    font-size:1.84em;
  }
  .expenses.second {
    font-size:1.5em;
    display: inline-block;
    vertical-align: top;
    width: 87%;
  }
}