// 600 styles ----------------------------------------------------------------

#content-bg {
  width: 600px;
}
.logo {
  margin-left: 20px;
  display:inline-block;
}

.cityscape {
  width: 600px;
}

nav {
  background: none;
  border: none;
  display: inline-block;
  width: auto;
  float: right;
  width: 261px;
  ul {
    li {
      padding: 0 4px 4px 4px;
      a {
        background: none;
        border: none;
        box-shadow: none;
        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }
}
h2.main-text {
  margin: 25px 0 20px 0;
  .development {
    font-size:1.94em;
  }
  .salary {
    font-size: 2.4em;
    margin-left: -4px;
  }
  .ampersand {
    font-size: 4em;
    vertical-align: top;
  }
  .expenses {
  }
  .expenses.first {
    font-size: 2.3em;
  }
  .expenses.second {
    font-size: 1.9em;
    display: inline-block;
    vertical-align: top;
    width: 88%;
  }
}
h3 {
  font-family: 'cabin', sans-serif;
  color: #11a49d;
  margin: 0 0 5px 0;
  font-size: 1.5em;
  font-weight: lighter;
}
footer {
  .fixed_content {
    width: 600px;
    margin: 0 auto;
  }
}